name: ci
on: push

jobs:
  build-and-upload-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 20.x
        uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - run: yarn
      - name: Build the typescript code
        run: yarn build
      - uses: actions/upload-artifact@main
        with:
          name: build artifacts
          path: build/

  run-mocha:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [20.x, 20.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn
      - run: yarn test

  run-depcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 20.x
        uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - run: yarn
      - run: yarn depcheck

  run-pre-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100 # need the history to do a changed files check below (source, origin)
      - uses: actions/setup-python@v2
      - name: Use Node.js 20.x
        uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - run: yarn
      - name: pre-commit
        env:
          SKIP: eslint
        run: |
          python -m pip install pre-commit && \
          python -m pip freeze --local && \
          pre-commit run \
            --show-diff-on-failure \
            --color=always \
            --source ${{ github.event.pull_request.base.sha || 'HEAD~1' }} \
            --origin ${{ github.event.pull_request.head.sha || 'HEAD' }} ;

  run-eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100 # need the history to do a changed files check below (source, origin)
      - name: Use Node.js 20.x
        uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - run: yarn install --immutable

      # The exclusion from the `git diff` is necessary because `yarn install`
      # on CI modifies the `.pnp.cjs` file to change their actual locations
      # but we don't care about that on CI.
      - run: yarn lint --quiet --fix && git diff --exit-code -- . ':(exclude)*.pnp.*'

  build-to-npm:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: write
    needs:
      - run-mocha
      - run-depcheck
      - build-and-upload-artifacts
      - run-pre-commits
      - run-eslint
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v6
        with:
          node-version: '20.x'
      # See: https://docs.npmjs.com/trusted-publishers
      # See: https://github.com/actions/setup-node/issues/1445
      - name: Set npm to version that supports trusted publishers
        run: npm install -g npm@11.5.1
        shell: bash
      - run: yarn
      - name: Publish to yarn/npm
        run: NODE_AUTH_TOKEN="" yarn npm publish --provenance

  build-to-github-packages:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
      - run-mocha
      - run-depcheck
      - build-and-upload-artifacts
      - run-pre-commits
      - run-eslint
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '20.x'
      - run: yarn
      - name: Configure Github Packages authentication
        run: |
          yarn config set npmAlwaysAuth true
          yarn config set npmRegistryServer https://npm.pkg.github.com
          yarn config set npmPublishRegistry https://npm.pkg.github.com
          yarn config set npmAuthToken ${{ secrets.GITHUB_TOKEN }}
      - name: Publish to Github packages
        run: yarn npm publish
